<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <connectionStrings>
    <add name="JiraTicketsEntities" connectionString="metadata=res://*/DataEF.csdl|res://*/DataEF.ssdl|res://*/DataEF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LLEAD-KASHIFATQ;initial catalog=JiraTickets;persist security info=True;user id=sa;password=sa123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>